# Лабораторная работа 2

## Шаги выполнения

1. Выбрать три набора данных, которые не соответствуют Вашему варианту задания.

2. Провести анализ сведений о каждом наборе данных со страницы загрузки в Kaggle. Какова проблемная область?

3. Провести анализ содержимого каждого набора данных. Что является объектом/объектами наблюдения? Каковы атрибуты объектов? Есть ли связи между объектами?

4. Привести примеры бизнес-целей, для достижения которых могут подойти выбранные наборы данных. Каков эффект для бизнеса?

5. Привести примеры целей технического проекта для каждой выделенной ранее бизнес-цели. Что поступает на вход, что является целевым признаком?

6. Определить проблемы выбранных наборов данных: зашумленность, смещение, актуальность, выбросы, просачивание данных.

7. Привести примеры решения обнаруженных проблем для каждого набора данных.

8. Оценить качество каждого набора данных: информативность, степень покрытия, соответствие реальным данным, согласованность меток.

9. Устранить проблему пропущенных данных. Для каждого набора данных использовать разные методы: удаление, подстановка константного значения (0 или подобное), подстановка среднего значения.

10. Выполнить разбиение каждого набора данных на обучающую, контрольную и тестовую выборки.

11. Оценить сбалансированность выборок для каждого набора данных. Оценить необходимость использования методов приращения (аугментации) данных.

12. Выполнить приращение данных методами выборки с избытком (oversampling) и выборки с недостатком (undersampling). Должны быть представлены примеры реализации обоих методов для выборок каждого набора данных.

13. Все выводы и программный код должны быть оформлены в виде ноутбука. Для выполнения данной лабораторной работы следует создать новый файл-ноутбук.

14. Разобраться с основными возможностями библиотеки imbalanced-learn (https://imbalanced-learn.org/stable/) для решения задачи приращения данных и несбалансированности выборок.

15. Разобраться с работой функции train_test_split библиотеки scikit-learn (https://scikit-learn.org/stable/).

## Ход работы

### 1. Выбрать три набора данных, которые не соответствуют Вашему варианту задания.

В качестве дополнительных данных были выбраны:
1) [Онлайн обучение](https://www.kaggle.com/datasets/shariful07/student-flexibility-in-online-learning)
2) [Объекты вокруг Земли](https://www.kaggle.com/datasets/sameepvani/nasa-nearest-earth-objects)
3) [Прогнозирование стоимости страховки](https://www.kaggle.com/datasets/harishkumardatalab/medical-insurance-price-prediction)

Файлы были загружены в папку [datasets](/datasets)

Для удобства сразу раскроем загрузим датасеты

In [428]:
import os
import pandas as pd
from pathlib import Path

from pandas import DataFrame

datasets_folder_path = Path(os.path.abspath('')).parent / "datasets"

online_study_df = pd.read_csv(datasets_folder_path / "students_adaptability_level_online_education.csv")
asteroids_df = pd.read_csv(datasets_folder_path / "neo.csv", index_col="id")
medical_insures_df = pd.read_csv(datasets_folder_path / "Medical_insurance.csv")

### 2. Провести анализ сведений о каждом наборе данных со страницы загрузки в Kaggle. Какова проблемная область?

Исходя информации сайта kaggle.com проведем анализ сведений о каждом наборе данных и рассмотрим проблемную область

1) В первом наборе рассматриваются обучение с помощью онлайн средств. Под онлайн обучением подразумевается взаимодействие учителя и ученика разделенных расстоянием. 

2) Во втором наборе данных представлены космические тела вокруг земли до 80000 км. Данные основаны на документах NASA

3) В третьем наборе рассматриваются стоимость медицинского страхования в зависимости от признаков человека.

### 3. Провести анализ содержимого каждого набора данных. Что является объектом/объектами наблюдения? Каковы атрибуты объектов? Есть ли связи между объектами?

1) Рассматривается множество признаков задевающие как и ученика (возраст, пол, финансовое состояние), так и платформы (уровень образования (школа/университет/другие), частные или приватные занятия).

2) В наборе данных рассматриваются астеройды, их размеры, а также могут ли они быть опасны для земли. 

3) Кроме собственно цены страховки, рассматриваются признаки человека: его пол, возраст, индекс массы и тому подобное

По первичной оценке можно только предполагать о связях между объектами, однако точно сказать сложно

### 4. Привести примеры бизнес-целей, для достижения которых могут подойти выбранные наборы данных. Каков эффект для бизнеса?

1) С учетом карантина коронавируса, который произошел несколько лет назад, онлайн обучение стало активно набирать обороты. На основе данных датасета, можно предсказать эффективность использования онлайн обучения

2) На основе этих данных можно предсказывать опасность новых космических тел для земли

3) На основе данных можно создать умные онлайн конструкторы, которые могут примерную стоимость медицинской страховки

### 5. Привести примеры целей технического проекта для каждой выделенной ранее бизнес-цели. Что поступает на вход, что является целевым признаком?

1) На вход поступает данные об ученике: его пол, возраст, специальность, информация об интернете студента. Можно предположить что целевыми признаками будет качество интернета студента, а так же устройство на котором проходит обучение, также стоит рассмотреть финансовое обеспечение студента

2) Даны признаки астеройда. В качестве целевых признаков можно предположить диаметр астеройда, а так же его расстояние относительно земли

3) Даны признаки человека. В качестве признака стоит рассматривать индекс массы тела, признак курения и место проживания

### 6. Определить проблемы выбранных наборов данных: зашумленность, смещение, актуальность, выбросы, просачивание данных.

 Данные сайта kaggle в большинстве случаев предоставляют уже изначально хорошие данные. Единственный вопрос может быть предоставлен к актуальности данных, самым старшим данным из набора составляет 3 года, что для выбранных данных не настолько критичный срок

### 7. Привести примеры решения обнаруженных проблем для каждого набора данных.

Можно только заполнить данные новыми. Но как и было сказано выше, для текущих данных 3 года не настолько большой срок

### 8. Оценить качество каждого набора данных: информативность, степень покрытия, соответствие реальным данным, согласованность меток.

Без погружения в предметную область сложно сказать о таких качествах данных на уровне соответствия реальным данным и согласованности меток. Исходя из популярности данных (средний upvote у датасетов около 20) будем предполагать что текущие данные имеют хорошее качество

1) Для данного набора представлено 13255 наблюдений, что может быть недостаточно для решения задачи. Кроме представленных данных, было бы иметь данные об наличии и успешности обучения в оффлайн режиме.

2) Для данного набора предоставлено более 90 тыс наблюдений, набора должно хватить для решения задачи. Двнные подробно покрывают предметную область

3) Для данного набора предоставлено 2772 наблюдений, что должно хватить для решения задачи. Данные могли быть подробнее и к примеру содержать данные о состоянии, работы и других параметров.

### 9. Устранить проблему пропущенных данных. Для каждого набора данных использовать разные методы: удаление, подстановка константного значения (0 или подобное), подстановка среднего значения.

1) Для первого набора применим использование метод удаления

In [429]:
display(online_study_df.isnull().sum())

Education Level        0
Institution Type       0
Gender                 0
Age                    0
Device                 0
IT Student             0
Location               0
Financial Condition    0
Internet Type          0
Network Type           0
Flexibility Level      0
dtype: int64

Для примера создадим несколько новых строк, но имеющие пропущенные данные

In [430]:
from pandas import DataFrame
import numpy as np

def create_copy_df_with_zero_data(df: DataFrame, frac: float = 0.01) -> DataFrame:
    df_copy = df.copy()
    samples = df_copy.sample(frac=frac)
    # for easy change only num params
    compatible_columns = df_copy.select_dtypes(include=np.number).columns
    
    for i in samples.index:
        df_copy.at[i, np.random.choice(compatible_columns)] = np.nan
        
    return df_copy
    

online_study_df_copy_empty = create_copy_df_with_zero_data(online_study_df)
display(online_study_df_copy_empty.isnull().sum())

Education Level         0
Institution Type        0
Gender                  0
Age                    12
Device                  0
IT Student              0
Location                0
Financial Condition     0
Internet Type           0
Network Type            0
Flexibility Level       0
dtype: int64

Теперь можно приступить к удалению пустых данных

In [431]:
print(online_study_df_copy_empty.shape) # Check count of rows

(1205, 11)

In [432]:
online_study_df_copy_empty.dropna(inplace=True)
display(online_study_df_copy_empty.isnull().sum())
print(online_study_df_copy_empty.shape)

Education Level        0
Institution Type       0
Gender                 0
Age                    0
Device                 0
IT Student             0
Location               0
Financial Condition    0
Internet Type          0
Network Type           0
Flexibility Level      0
dtype: int64

(1193, 11)

2) Для второго набора применим использование метод подстановки константного значения

In [433]:
display(asteroids_df.isnull().sum())

name                  0
est_diameter_min      0
est_diameter_max      0
relative_velocity     0
miss_distance         0
orbiting_body         0
sentry_object         0
absolute_magnitude    0
hazardous             0
dtype: int64

Как и в прошлый раз добавим искусственно строки

In [434]:
asteroids_df_copy_empty = create_copy_df_with_zero_data(asteroids_df)
display(asteroids_df_copy_empty.isnull().sum())

name                     0
est_diameter_min      1430
est_diameter_max      1117
relative_velocity     1031
miss_distance         1214
orbiting_body            0
sentry_object            0
absolute_magnitude    1121
hazardous                0
dtype: int64

Теперь приступим к применению метода

In [435]:
print(asteroids_df_copy_empty.shape) # Check count of rows

(90836, 9)

In [436]:
asteroids_df_copy_empty.fillna(0, inplace=True)
display(asteroids_df_copy_empty.isnull().sum())
print(asteroids_df_copy_empty.shape)

name                  0
est_diameter_min      0
est_diameter_max      0
relative_velocity     0
miss_distance         0
orbiting_body         0
sentry_object         0
absolute_magnitude    0
hazardous             0
dtype: int64

(90836, 9)

3. Для третьего датасета используем подстановку среднего значения

In [437]:
display(medical_insures_df.isnull().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

Ну и в последнем датасете нет нулевых данных - также сымитируем их

In [438]:
medical_insures_df_copy_empty = create_copy_df_with_zero_data(medical_insures_df)
display(medical_insures_df_copy_empty.isnull().sum())

age         9
sex         0
bmi         8
children    8
smoker      0
region      0
charges     3
dtype: int64

Применим метод

In [439]:
print(medical_insures_df_copy_empty.shape)

(2772, 7)

In [440]:
medical_insures_df_copy_empty.fillna({
    'age': medical_insures_df_copy_empty['age'].mean(),
    'bmi': medical_insures_df_copy_empty['bmi'].mean(),
    'children': medical_insures_df_copy_empty['children'].mean(),
    'charges': medical_insures_df_copy_empty['charges'].mean(),
}, inplace=True)
display(medical_insures_df_copy_empty.isnull().sum())
print(medical_insures_df_copy_empty.shape)

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

(2772, 7)

### 10. Выполнить разбиение каждого набора данных на обучающую, контрольную и тестовую выборки.

In [441]:
from src.extra.utils import split_stratified_into_train_val_test

def split_and_display_train_dataset(df: DataFrame, stratify_colname: str, quiet: bool = False) :
    df_copy = df.copy()
    
    if not quiet:
        display("Изначальный набор")
        display(df_copy[stratify_colname].value_counts())


    df_train, df_val, df_test, y_train, y_val, y_test = split_stratified_into_train_val_test(
       df_copy, stratify_colname=stratify_colname, frac_train=0.60, frac_val=0.20, frac_test=0.20
    )
    
    if not quiet:
        display("Обучающая выборка: ", df_train.shape)
        display(df_train[stratify_colname].value_counts())
    
        display("Контрольная выборка: ", df_val.shape)
        display(df_val[stratify_colname].value_counts())
    
        display("Тестовая выборка: ", df_test.shape)
        display(df_test[stratify_colname].value_counts())
    
    # return df_train, df_val, df_test, y_train, y_val, y_test

In [442]:
split_and_display_train_dataset(online_study_df, "Flexibility Level")

'Изначальный набор'

Flexibility Level
Moderate    625
Low         480
High        100
Name: count, dtype: int64

'Обучающая выборка: '

(723, 11)

Flexibility Level
Moderate    375
Low         288
High         60
Name: count, dtype: int64

'Контрольная выборка: '

(241, 11)

Flexibility Level
Moderate    125
Low          96
High         20
Name: count, dtype: int64

'Тестовая выборка: '

(241, 11)

Flexibility Level
Moderate    125
Low          96
High         20
Name: count, dtype: int64

In [443]:
split_and_display_train_dataset(asteroids_df, "hazardous")

'Изначальный набор'

hazardous
False    81996
True      8840
Name: count, dtype: int64

'Обучающая выборка: '

(54501, 9)

hazardous
False    49197
True      5304
Name: count, dtype: int64

'Контрольная выборка: '

(18167, 9)

hazardous
False    16399
True      1768
Name: count, dtype: int64

'Тестовая выборка: '

(18168, 9)

hazardous
False    16400
True      1768
Name: count, dtype: int64

Для последнего датасета добавим новый признак группирующий по цене

In [444]:
medical_insures_df_copy_grouped = medical_insures_df.copy()
medical_insures_df_copy_grouped["grouped_charges"] = pd.cut(medical_insures_df_copy_grouped["charges"],
                                                           bins=[0, 10000, 20000, 30000, 40000, 50000, 60000, 70000,],
                                                           labels=["<= 10000", "<= 20000", "<= 30000", "<= 40000", "<= 50000", "<= 60000", "<= 70000"],
                                                           right=True
                                                           )
medical_insures_df_copy_grouped.head()

,age,sex,bmi,children,smoker,region,charges,grouped_charges
0,19,female,27.900,0,yes,southwest,16884.92400,<= 20000
1,18,male,33.770,1,no,southeast,1725.55230,<= 10000
2,28,male,33.000,3,no,southeast,4449.46200,<= 10000
3,33,male,22.705,0,no,northwest,21984.47061,<= 30000
4,32,male,28.880,0,no,northwest,3866.85520,<= 10000

In [445]:
split_and_display_train_dataset(medical_insures_df_copy_grouped, "grouped_charges")

'Изначальный набор'

grouped_charges
<= 10000    1480
<= 20000     726
<= 30000     226
<= 40000     176
<= 50000     150
<= 60000       8
<= 70000       6
Name: count, dtype: int64

'Обучающая выборка: '

(1663, 8)

grouped_charges
<= 10000    888
<= 20000    435
<= 30000    135
<= 40000    106
<= 50000     90
<= 60000      5
<= 70000      4
Name: count, dtype: int64

'Контрольная выборка: '

(554, 8)

grouped_charges
<= 10000    296
<= 20000    145
<= 30000     45
<= 40000     35
<= 50000     30
<= 60000      2
<= 70000      1
Name: count, dtype: int64

'Тестовая выборка: '

(555, 8)

grouped_charges
<= 10000    296
<= 20000    146
<= 30000     46
<= 40000     35
<= 50000     30
<= 60000      1
<= 70000      1
Name: count, dtype: int64

### 11. Оценить сбалансированность выборок для каждого набора данных. Оценить необходимость использования методов приращения (аугментации) данных.

Для последнего датасета уже был применен метод приращения. Оценивать стоимость каждого наблюдения, не имеет смысла, поэтому было решено сгруппировать данные. По вопросу сбалансированности можно отметить малое кол-во людей с ценой страховки более 50000, но это можно решить увеличив группировку. Также во 2 наборе стоит отметить меньшее кол-во опасных объектов в сравнении с безопасными

### 12. Выполнить приращение данных методами выборки с избытком (oversampling) и выборки с недостатком (undersampling). Должны быть представлены примеры реализации обоих методов для выборок каждого набора данных.


В отличие от кода представленном в примере пришлось сначала трансформировать данные в числовые, иначе метод не работает

In [446]:
from imblearn.base import BaseSampler
from sklearn.preprocessing import LabelEncoder

def use_sampling_method(df: DataFrame, stratify_colname: str, method: BaseSampler):    
    display("Before")
    display(df[stratify_colname].value_counts())
    
    categorical_features = df.select_dtypes(include=['object', 'category']).columns
    
    label_encoders = {}
    for feature in categorical_features:
        le = LabelEncoder()
        df[feature] = le.fit_transform(df[feature])
        label_encoders[feature] = le
    
    x_resampled, y_resampled = method.fit_resample(df, df[stratify_colname])
    df_adasyn = pd.DataFrame(x_resampled)
    
    
    for feature, encoder in label_encoders.items():
        df_adasyn[feature] = encoder.inverse_transform(df_adasyn[feature])
        
    display(f"After {method._sampling_type} {type(method).__name__}")
    display(df_adasyn[stratify_colname].value_counts())

In [447]:
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import ADASYN

use_sampling_method(online_study_df, "Flexibility Level", method=ADASYN())

'Before'

Flexibility Level
Moderate    625
Low         480
High        100
Name: count, dtype: int64

'After over-sampling ADASYN'

Flexibility Level
High        626
Moderate    625
Low         609
Name: count, dtype: int64

In [448]:
use_sampling_method(online_study_df, "Flexibility Level", method=RandomUnderSampler())

'Before'

Flexibility Level
2    625
1    480
0    100
Name: count, dtype: int64

'After under-sampling RandomUnderSampler'

Flexibility Level
0    100
1    100
2    100
Name: count, dtype: int64

In [449]:
use_sampling_method(asteroids_df, "hazardous", method=ADASYN())

'Before'

hazardous
False    81996
True      8840
Name: count, dtype: int64

'After over-sampling ADASYN'

hazardous
True     85306
False    81996
Name: count, dtype: int64

In [450]:
use_sampling_method(asteroids_df, "hazardous", method=RandomUnderSampler())

'Before'

hazardous
False    81996
True      8840
Name: count, dtype: int64

'After under-sampling RandomUnderSampler'

hazardous
False    8840
True     8840
Name: count, dtype: int64

In [451]:
use_sampling_method(medical_insures_df_copy_grouped, "grouped_charges", method=ADASYN())

'Before'

grouped_charges
<= 10000    1480
<= 20000     726
<= 30000     226
<= 40000     176
<= 50000     150
<= 60000       8
<= 70000       6
Name: count, dtype: int64

'After over-sampling ADASYN'

grouped_charges
<= 10000    1480
<= 30000    1480
<= 40000    1480
<= 60000    1480
<= 50000    1480
<= 70000    1480
<= 20000    1478
Name: count, dtype: int64

In [452]:
use_sampling_method(medical_insures_df_copy_grouped, "grouped_charges", method=RandomUnderSampler())

'Before'

grouped_charges
0    1480
1     726
2     226
3     176
4     150
5       8
6       6
Name: count, dtype: int64

'After under-sampling RandomUnderSampler'

grouped_charges
0    6
1    6
2    6
3    6
4    6
5    6
6    6
Name: count, dtype: int64