# Лабораторная работа 3

1. Определить две бизнес-цели для набора данных по Вашему варианту задания.

2. Определить цели технического проекта для каждой выделенной ранее бизнес-цели.

3. При необходимости следует использовать методы сбора и подготовки данных, которые были рассмотрены в лекции № 2.

4. Выполнить разбиение каждого набора данных на обучающую, контрольную и тестовую выборки для устранения проблемы просачивания данных.

5. Оценить сбалансированность выборок для каждого набора данных. Применить методы приращения (аугментации) данных при необходимости.

6. Выполнить процесс конструирования признаков для решения каждой из двух задач. Задача определяется совокупностью бизнес-цели и цели технического проекта.

7. При конструировании признаков обязательно необходимо выполнить: унитарное кодирование категориальных признаков (one-hot encoding), дискретизацию числовых признаков, «ручной» синтез признаков, масштабирование признаков на основе нормировки и стандартизации.

8. При необходимости выполнить конструирование признаков с применением фреймворка Featuretools (https://featuretools.alteryx.com/en/stable/).

9. Оценить качество каждого набора признаков по следующим критериям: предсказательная способность, скорость вычисления, надежность, корреляция и цельность.

10. Все выводы и программный код должны быть оформлены в виде ноутбука. Для выполнения данной лабораторной работы следует создать новый файл-ноутбук.

# Ход работы

## 1. Определить две бизнес-цели для набора данных по Вашему варианту задания.

В качестве датасета, были использованы данные о магазинах. Поставлены такие бизнес задачи
1) На основе данных найти зависимость большого кол-ва посетителей
2) На основе данных найти зависимость продаж

## 2. Определить цели технического проекта для каждой выделенной ранее бизнес-цели.

1) Оценить размеры и кол-во товаров магазина для понимания зависимости кол-ва посетителей
2) Оценить размеры и кол-во товаров магазина для понимания зависимости продаж

## 3. При необходимости следует использовать методы сбора и подготовки данных, которые были рассмотрены в лекции № 2.

## 4. Выполнить разбиение каждого набора данных на обучающую, контрольную и тестовую выборки для устранения проблемы просачивания данных.

Разбиение на выборки будут выполнены после дискретизации, тк данные плохо группируются. В целевых признаках нет просачивания.
Изначально планировалось в ключевые признаки ежедневных покупок, добавить кол-во людей, но эти признаки имеют целевую зависимость 

## 5. Оценить сбалансированность выборок для каждого набора данных. Применить методы приращения (аугментации) данных при необходимости.
## 6. Выполнить процесс конструирования признаков для решения каждой из двух задач. Задача определяется совокупностью бизнес-цели и цели технического проекта.

## 7. При конструировании признаков обязательно необходимо выполнить: унитарное кодирование категориальных признаков (one-hot encoding), дискретизацию числовых признаков, «ручной» синтез признаков, масштабирование признаков на основе нормировки и стандартизации.

One hot encoding не имеет смысла из за большого кол-ва вариантов

In [73]:
import numpy as np
import pandas as pd
from pathlib import Path

dataset_path = Path('../datasets/Stores.csv')
df = pd.read_csv(dataset_path, index_col="Store ID ")

Проведем равномерную дискретизацию для двух задач.

In [74]:
daily_customers_discret_labels = []
num_of_bins_daily_customers = 6

bin_edges_daily_customers = np.linspace(9, 1560, num_of_bins_daily_customers)
for max_edge in bin_edges_daily_customers[1:]:
    daily_customers_discret_labels.append(f" <= {int(max_edge)}")

bin_edges_daily_customers, daily_customers_discret_labels

(array([   9. ,  319.2,  629.4,  939.6, 1249.8, 1560. ]),
 [' <= 319', ' <= 629', ' <= 939', ' <= 1249', ' <= 1560'])

In [75]:
pd.concat([df["Daily_Customer_Count"], pd.cut(df["Daily_Customer_Count"], list(bin_edges_daily_customers), labels=daily_customers_discret_labels)], axis=1)

          Daily_Customer_Count Daily_Customer_Count
Store ID
1                          530               <= 629
2                          210               <= 319
3                          720               <= 939
4                          620               <= 629
5                          450               <= 629
...                        ...                  ...
892                       1080              <= 1249
893                        850               <= 939
894                       1060              <= 1249
895                        770               <= 939
896                       1110              <= 1249

[896 rows x 2 columns]

In [76]:
daily_sales_discret_labels = []
num_of_bins_daily_sales = 8

bin_edges_daily_sales = np.linspace(14919, 116320, num_of_bins_daily_sales)

for max_edge in bin_edges_daily_sales[1:]:
    daily_sales_discret_labels.append(f" <= {int(max_edge)}")
    
bin_edges_daily_sales, daily_sales_discret_labels

(array([ 14919.        ,  29404.85714286,  43890.71428571,  58376.57142857,
         72862.42857143,  87348.28571429, 101834.14285714, 116320.        ]),
 [' <= 29404',
  ' <= 43890',
  ' <= 58376',
  ' <= 72862',
  ' <= 87348',
  ' <= 101834',
  ' <= 116320'])

In [77]:
pd.concat([df["Store_Sales"], pd.cut(df["Store_Sales"], list(bin_edges_daily_sales), labels=daily_sales_discret_labels)], axis=1)

          Store_Sales Store_Sales
Store ID
1               66490    <= 72862
2               39820    <= 43890
3               54010    <= 58376
4               53730    <= 58376
5               46620    <= 58376
...               ...         ...
892             66390    <= 72862
893             82080    <= 87348
894             76440    <= 87348
895             96610   <= 101834
896             54340    <= 58376

[896 rows x 2 columns]

In [78]:
df["Daily_Customer_Discritisised"] = pd.cut(df["Daily_Customer_Count"], list(bin_edges_daily_customers), labels=daily_customers_discret_labels)
df["Store_Sales_Discritisised"] = pd.cut(df["Store_Sales"], list(bin_edges_daily_sales), labels=daily_sales_discret_labels)

df

,Store_Area,Items_Available,Daily_Customer_Count,Store_Sales,Daily_Customer_Discritisised,Store_Sales_Discritisised
Store ID,,,,,,
1,1659,1961,530,66490,<= 629,<= 72862
2,1461,1752,210,39820,<= 319,<= 43890
3,1340,1609,720,54010,<= 939,<= 58376
4,1451,1748,620,53730,<= 629,<= 58376
5,1770,2111,450,46620,<= 629,<= 58376
...,...,...,...,...,...,...
892,1582,1910,1080,66390,<= 1249,<= 72862
893,1387,1663,850,82080,<= 939,<= 87348
894,1200,1436,1060,76440,<= 1249,<= 87348
895,1299,1560,770,96610,<= 939,<= 101834
896,1174,1429,1110,54340,<= 1249,<= 58376

Ручной синтез не представляется возможным. 

Применим масштабирование (нормирование)

In [79]:
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()

df["Daily_Customer_Count_Norm"] = min_max_scaler.fit_transform(
    df["Daily_Customer_Count"].to_numpy().reshape(-1, 1)
).reshape(df["Daily_Customer_Count"].shape)

df["Store_Sales_Norm"] = min_max_scaler.fit_transform(
    df["Store_Sales"].to_numpy().reshape(-1, 1)
).reshape(df["Store_Sales"].shape)

df

,Store_Area,Items_Available,Daily_Customer_Count,Store_Sales,Daily_Customer_Discritisised,Store_Sales_Discritisised,Daily_Customer_Count_Norm,Store_Sales_Norm
Store ID,,,,,,,,
1,1659,1961,530,66490,<= 629,<= 72862,0.335484,0.508580
2,1461,1752,210,39820,<= 319,<= 43890,0.129032,0.245562
3,1340,1609,720,54010,<= 939,<= 58376,0.458065,0.385503
4,1451,1748,620,53730,<= 629,<= 58376,0.393548,0.382742
5,1770,2111,450,46620,<= 629,<= 58376,0.283871,0.312623
...,...,...,...,...,...,...,...,...
892,1582,1910,1080,66390,<= 1249,<= 72862,0.690323,0.507594
893,1387,1663,850,82080,<= 939,<= 87348,0.541935,0.662327
894,1200,1436,1060,76440,<= 1249,<= 87348,0.677419,0.606706
895,1299,1560,770,96610,<= 939,<= 101834,0.490323,0.805621
896,1174,1429,1110,54340,<= 1249,<= 58376,0.709677,0.388757

Применим масштабирование (cтандартизацию)

In [80]:
standart_scaler = preprocessing.StandardScaler()

df["Daily_Customer_Count_Standart"] = standart_scaler.fit_transform(
    df["Daily_Customer_Count"].to_numpy().reshape(-1, 1)
).reshape(df["Daily_Customer_Count"].shape)

df["Store_Sales_Norm_Standart"] = standart_scaler.fit_transform(
    df["Store_Sales"].to_numpy().reshape(-1, 1)
).reshape(df["Store_Sales"].shape)

df

,Store_Area,Items_Available,Daily_Customer_Count,Store_Sales,Daily_Customer_Discritisised,Store_Sales_Discritisised,Daily_Customer_Count_Norm,Store_Sales_Norm,Daily_Customer_Count_Standart,Store_Sales_Norm_Standart
Store ID,,,,,,,,,,
1,1659,1961,530,66490,<= 629,<= 72862,0.335484,0.508580,-0.966481,0.415496
2,1461,1752,210,39820,<= 319,<= 43890,0.129032,0.245562,-2.172930,-1.136787
3,1340,1609,720,54010,<= 939,<= 58376,0.458065,0.385503,-0.250151,-0.310882
4,1451,1748,620,53730,<= 629,<= 58376,0.393548,0.382742,-0.627167,-0.327179
5,1770,2111,450,46620,<= 629,<= 58376,0.283871,0.312623,-1.268093,-0.741004
...,...,...,...,...,...,...,...,...,...,...
892,1582,1910,1080,66390,<= 1249,<= 72862,0.690323,0.507594,1.107104,0.409675
893,1387,1663,850,82080,<= 939,<= 87348,0.541935,0.662327,0.239969,1.322886
894,1200,1436,1060,76440,<= 1249,<= 87348,0.677419,0.606706,1.031701,0.994619
895,1299,1560,770,96610,<= 939,<= 101834,0.490323,0.805621,-0.061644,2.168580
896,1174,1429,1110,54340,<= 1249,<= 58376,0.709677,0.388757,1.220209,-0.291675

## 8. При необходимости выполнить конструирование признаков с применением фреймворка Featuretools (https://featuretools.alteryx.com/en/stable/).

С учетом что ручного синтеза не было произведено, попробуем сделать это с помощью Featuretools

In [81]:
import featuretools as ft

pure_df = pd.read_csv(dataset_path, index_col="Store ID ")

es = ft.EntitySet(id="Store ID ")
es = es.add_dataframe(
    dataframe_name="stores",
    dataframe=pure_df,
    index="Store ID ",
)

es

/Users/shadowik/PycharmProjects/Data_Science_university_course/.venv/lib/python3.12/site-packages/featuretools/entityset/entityset.py:1733: UserWarning: index Store ID  not found in dataframe, creating new integer column
  warnings.warn(

Entityset: Store ID
  DataFrames:
    stores [Rows: 896, Columns: 5]
  Relationships:
    No relationships

In [82]:
feature_matrix, feature_defs = ft.dfs(
    entityset=es,
    target_dataframe_name="stores",
    agg_primitives=["mean", "count", "mode", "any"],
    trans_primitives=["hour", "weekday"],
    max_depth=1,
)

feature_matrix

/Users/shadowik/PycharmProjects/Data_Science_university_course/.venv/lib/python3.12/site-packages/featuretools/synthesis/dfs.py:321: UnusedPrimitiveWarning: Some specified primitives were not used during DFS:
  trans_primitives: ['hour', 'weekday']
  agg_primitives: ['any', 'count', 'mean', 'mode']
This may be caused by a using a value of max_depth that is too small, not setting interesting values, or it may indicate no compatible columns for the primitive were found in the data. If the DFS call contained multiple instances of a primitive in the list above, none of them were used.
  warnings.warn(warning_msg, UnusedPrimitiveWarning)

           Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
Store ID
0                1659             1961                   530        66490
1                1461             1752                   210        39820
2                1340             1609                   720        54010
3                1451             1748                   620        53730
4                1770             2111                   450        46620
...               ...              ...                   ...          ...
891              1582             1910                  1080        66390
892              1387             1663                   850        82080
893              1200             1436                  1060        76440
894              1299             1560                   770        96610
895              1174             1429                  1110        54340

[896 rows x 4 columns]

Как и было сказано при попытке ручного синтеза, интересных данных из данного датасета получить невозможно

## 9. Оценить качество каждого набора признаков по следующим критериям: предсказательная способность, скорость вычисления, надежность, корреляция и цельность.

1) Предсказательная способность - Есть вариант что данных не достатотачно для точного прогнозирования.
2) Скорость вычисления - для работы не требуется большого кол-ва времени
3) Надежность - В данном контексте проблем нет, но параметр кол-во вещей, вполне может быть изменяемым
4) Кореляция - прямой кореляции не обнаружено
5) Цельность - данные не зависят от других